 /* makes sizing simpler */

 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

 /* remove default spacing */
 /* force styling of type through styling, rather than elements */

 * {
   margin: 0;
   padding: 0;
   font: inherit;
 }

 /* dark mode user-agent-styles */

 html {
   color-scheme: dark light;
 }

 /* min body height */

 body {
   min-height: 100vh;
 }

 /* responsive images/videos */
 img,
 picture,
 svg,
 video {
   display: block;
   max-width: 100%;
 }

 /* My code from here */

 :root {

   --Background_color: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
   --divider_color: hsl(240, 5%, 91%);
   --my_font: 12px;
   --font-style: Kumbh Sans, sans-serif;
 }

 body {
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--Background_color);
   font-family: var(--font-style);
 }

 .container {
   background-color: white;
   display: flex;
   width: 60%;
   height: auto;
   background-image: url(images/bg-pattern-desktop.svg);
   background-repeat: no-repeat;
   background-size: 91.5%;
   background-position-x: -28em;
   background-position-y: -15em;
   border-radius: 15px;
   max-width: 923px;
 }

 .container__left-compo {
   position: relative;
   top: 2em;
   height: 100%;
   width: 50%;
 }

 .container__left-compo-img {
   position: relative;
   top: 1.7em;
   overflow: hidden;
 }

 .container__left-compo-img img {
   position: relative;
   left: -4.9em;
 }

 .container__left-compo-box-image {
   position: relative;
   top: -12em;
   left: -5.7em;
 }

 .container__right-compo {
   padding: 4em 5em 4em 0;
   height: 100%;
   width: 50%;
 }

 .container__right-compo__heading {
   font-size: 2em;
   font-weight: 700;
   padding-bottom: 1em;
 }

 .ans {
   display: none;
 }

 .ans2 {
   display: block;
   margin-top: 0.5em;
   font-size: 0.89em;
   color: hsl(240, 6%, 50%);
 }

 .qn-after-click {
   font-weight: 600;
 }

 .qn {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .qna-container {
   padding: 1em 0;
   border-bottom: 1px solid var(--divider_color);
   color: hsl(237, 12%, 33%);
   font-weight: 400;
 }

 .qn:hover {
   cursor: pointer;
   color: hsl(14, 88%, 65%);
 }

 .svg-after-click {
   transform: rotate(180deg);
 }

 @media (max-width:1064px) {

   body {
     display: block;
     height: auto;
     padding-top: 12em;
     padding-bottom: 2em;

   }

   .container {
     flex-direction: column;
     margin: 0 auto;
     width: 80%;
     background-image: url(images/bg-pattern-mobile.svg);
     background-repeat: no-repeat;
     background-size: auto;
     background-position-x: 3em;
     background-position-y: 0em;
     max-width: 400px;
   }

   .container__left-compo {
     width: 100%;
     z-index: 4;
     height: 100px;

   }

   .container__left-compo-img {
     overflow: visible;
   }

   .container__left-compo-box-image {
     position: relative;
     top: -19.5em;
     left: 2em;
     width: 7em;
   }

   .container__left-compo-img img {
     position: relative;
     left: 1.3em;
     top: -13em;
     width: 18em;
   }


   .container__right-compo {
     width: 100%;
     padding: 1.5em 2em;
     padding-right: 1.5em;
     height: 450px;
     z-index: 7;
   }

   .container__right-compo__heading {
     text-align: center;
     margin-bottom: -0.5em;
   }

 }

 @media (max-height:1000px) {

   .container__right-compo {
     height: 550px;
   }

   .container {
     width: 87%;
   }
 }

 @media(min-width:423px) and (max-width:1064px) {

   body {
     height: 100vh;
   }

   .container__right-compo {
     height: auto;
     min-height: 410px;
   }

   .container {
     background-position-x: 4.5em;
   }

   .container__left-compo-img {
     left: 1.5em;
   }
 }

 /* Ends here */